include LICENSE
include README.md
recursive-include src/wordllama *.py *.toml *.json
include src/wordllama/weights/*.safetensors
include src/wordllama/algorithms/*.pyx
include src/wordllama/algorithms/*.pxd
include src/wordllama/algorithms/*.so
include src/wordllama/algorithms/*.pyd
